body {
    @media (0<=width <=200px) {

        background-color: red;
    }

    @media (200px< width <=500px) {
        background-color: white;
    }

    @media (500px<width<=800px) {
        background-color: orange;
    }

    @media (800px< width <=1000px) {
        background-color: green;

        :root {
            --services-contents-gridflex-height: 30vh;
            --services-contents-gridflex-1-height: 25vh;
            --services-contents-gridflex-2-height: 5vh;
            --services-contents-gridflex-1-img-height: 25vh;

        }

    }

}

@media (0<=width<900px) {
   

 

   

 

    .footer_3_1 {
        display: none;
    }

    .footer_3_2 {
        display: block;
    }
}