/* 



ourpartners->>>ourpartners-clients
           -->>>ourpartners-clients-img


*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
    background: #888;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}


button {
    cursor: pointer;
}





















* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --black: #000;
    --grey: #121212;
    --light-grey: #232323;
    --white: #fff;
    /* navigation-bar-dimensions */
    --navigation-height: 60vh;
    --navigation-width: 100vw;
    
    --navbar-width: 100vw;
    
    --navbarcontent-height: 48vh;
    --navbarcontent-width: 100vw;
    
    @media(0px<width<700px){
        
        --navigation-height: 45vh;
        
        --navbar-height: 12vh;
        --navbarcontent-height: 33vh;
    }

    /* orderfood */
    --orderfood-height: 40vh;
    --orderfood-width: 100vw;
    
    --orderfood-contents-height: 40vh;
    --orderfood-contents-width: 30vw;
    
    
    --orderfood-contents-1-height: 30vh;
    --orderfood-contents-1-width: var(--orderfood-contents-width);
    --orderfood-contents-2-width: var(--orderfood-contents-width);
    
    /* @media(0px<width<700px){
        --orderfood-height: 20vh;
        --orderfood-contents-height: 20vh;
        --orderfood-contents-1-height: 15vh;
        --orderfood-contents-2-height: 5vh;
        
    } */



    /* services-bar-dimensions */
    --services-height: 228vh;
    --services-width: 100vw;

    --ourservices-height: 20vh;
    --ourservices-width: 100vw;

    --services-contents-height: 200vh;
    --services-contents-width: 100vw;

    --services-contents-gridflex-height: 40vh;
    --services-contents-gridflex-width: 31vw;


    --services-contents-gridflex-1-height: 30vh;
    --services-contents-gridflex-1-width: var(--services-contents-gridflex-width);

    --services-contents-gridflex-2-height: 10vh;
    --services-contents-gridflex-2-width: var(--services-contents-gridflex-width);



    --services-contents-gridflex-1-img-height: 30vh;
    --services-contents-gridflex-1-img-width: 31vw;

    /* community support */
    --community-height: 40vh;
    --community-width: 100vw;

    --partof-community-height: 8vh;
    --partof-community-width: 100vw;

    --community-deals-height: 32vh;
    --community-deals-width: 100vw;

    --comm-dealbox-height: 32vh;
    --comm-dealbox-width: 25vw;

    --comm-dealbox-img-height: 30vh;
    --comm-dealbox-img-width: auto;




    /* contact-bar-dimensions */
    --contact-height: 70vh;
    --contact-width: 100vw;

    --contact-us-height: 20vh;
    --contact-us-width: 100vw;

    --contact-form-height: 50vh;
    --contact-form-width: 100vw;

    --contact-form-fontsize: 2.5rem;
    --contact-form-input-fontsize: 1.6rem;



    /* ourpartners-bar-dimensions */
    --ourpartners-height: 50vh;
    --ourpartners-width: 100vw;


    /* footers-bar-dimensions */
    --footers-height: 45vh;
    --footers-width: 100vw;

    --footer-1-height: 10vh;
    --footer-1-width: 80vw;

    --footer-2-height: 25vh;

    --footer-3-height: 10vh;


    /* gap-bar-dimensions */
    --gap-height: 2vh;
    --gap-width: 100vw;


    /* navbar-a-dimensions */
    --navbar-a-fontsize: 1.2vw;


    /* hprime class dimensions */
    --hprime-fontsize: 4.5vw;

    /* welcome-para-dimensions */
    --welcome-para-fontsize: 2vw;

    /* servies-contents-gridflex->cuisine */
    --cuisine-fontsize: 2vw;

    /* community heading fontsize */
    --comm-heading-fontsize: 2.5vw;




}

/* Style for the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style for the dropdown button (image) */
.dropdown img {
    cursor: pointer;
}

.dropdown img:hover {
    width: 3vw;
    height: auto;
}

/* Style for the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: +2;
    /* position: relative; */
    /* display: inline-block; */
}

/* Style for the dropdown items */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: var(--white);
    background-color: rgb(255, 145, 0);

}

#trianglecart{
    left: 90%;
}
#myDropdownCart{
    right: 0;
}

.cartFull{
    height: 50vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    right: 0;
}
.cartcontent{
    height: 100%;
    width: 100%;
    /* border: 2px solid magenta; */
}
.cart1{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
justify-content: center;
}
.cart2{
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cart21{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid maroon; */
}
#imgcart{
    width: 10vw;
    height: auto;
    opacity: 0.8;
}
.cart22{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
}
.cart3{
    display: flex;
align-items: center;
justify-content: center;
height: 20%;
width: 100%;
background-color: orange;
color: white;
}








#myDropdownMenu{
    height: 70vh;
    width: 38vh;
    right: 0px;
    /* border: 2px solid magenta; */
    margin: 0;
    top:7vh;


}

.triangle{
    background-color: #fff;
    border-left: 1px solid #a6aaa9;
    border-top: 1px solid #a6aaa9;
    height: 24px;
    left: 84%;
    margin: auto;
    position: absolute;
    top: -13px;
    transform: rotate(45deg);
    width: 24px;
    z-index: 99;

}
.menucontent{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
    color: black;
   
}

.menu1{
    height: 15%;
    width: 100%;
    font-size: 3vw;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(255, 145, 0) ;
    

    /* border: 2px solid black; */
}
.menu2{
    height: 40%;
    width: 100%;

    border: 2px solid black;
    display: flex;
    flex-direction: row;
}
.menu2 img{
    /* max-width: 300px; */
    width: 8vw;
    height: auto;
 
    /* border: 2px solid aqua; */
}
.menu21{
    /* max-width: 50px; */
    height: 100%;
    width: 50%;
    border: 2px solid aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu22{
    /* max-width: 50px; */
    height: 100%;
    width: 50%;
    border: 2px solid aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu3{
    height: 10%;
    width: 100%;

    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;


}
.menu4{
    height: 10%;
    width: 100%;

    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;


}
.menu5{
    height: 10%;
    width: 100%;

    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;


}
.menu6{
    height: 15%;
    width: 100%;

    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;



}












body {
    z-index: -4;
    transition: background-color 0.5s ease-in-out;
    background-color: var(--white);
    color: var(--black);
    overflow-x: hidden;
    scroll-behavior: smooth;
    overflow-y: scroll;

}


.theme-button {
    cursor: pointer;
    background-color: rgb(13, 17, 16);
    z-index: -12;
    color: #fff;

}

body.dark-mode {
    background-color: var(--black);
    color: white;
}

img {
    max-width: 20vw;
    height: auto;
}

ul li {
    display: inline;
}


.hprime {
    font-size: var(--hprime-fontsize);
    align-self: center;
    text-align: center;
    z-index: 5;
    font-family: 'Source Code Pro', monospace;
}

.a_forms {
    color: orange;
}

.cuisine {
    font-size: var(--cuisine-fontsize);
    z-index: 1;
    font-family: 'Play', sans-serif;
}

.cuisine2 {
    font-family: 'Source Code Pro', monospace;
    color: rgb(6, 6, 6);
    font-size: var(--cuisine-fontsize);
    z-index: 1;


}



/* homepage */
.homepage {
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    /* z-index: -2; */

}


/* navigation */
.navigation {
    /* border: 2px solid red; */
    /* flex: 0.4; */
    width: var(--navigation-width);
    height: var(--navigation-height);
    display: flex;
    flex-direction: column;
    /* flex: 1; */

}

.navigation::before {
    content: " ";
    /* background: url(b2.jpg) no-repeat center center/cover; */
    background-image: url(b2.jpg);
    background-repeat: no-repeat;
    background-size: var(--navigation-width), auto;
    background-position: center;
    position: absolute;
    z-index: -4;
    /* opacity: 0.98; */
    width: var(--navigation-width);
    height: var(--navigation-height);
    /* top: 0;
    left: 0; */
}

/* navigation->navbar */

.navbar {
    /* flex: 0.30; */
    width: var(--navbar-width);
    /* height: 10vh; */
    height: var(--navbar-height);
    /* justify-content: center; */
    display: flex;
    /* justify-content: center; */
    /* align-items:end; */
    /* align-self: normal; */
    /* flex: 1; */
    flex-direction: row;
    /* position: fixed; */

    /* border: 2px solid rgb(20, 46, 196); */

}

.navbar::before {
    content: " ";
    background-color: var(--white);
    /* background-color: rgb(212, 207, 207); */
    /* background-color:white; */
    position: absolute;
    z-index: -2;
    opacity: 0.01;
    width: var(--navbar-width);
    height: var(--navbar-height);

    /* height: 10vh; */
}

.navbar_logo {
    /* flex: 0.5; */
    width: 50vw;
    /* border: 2px solid magenta; */
    height: var(--navbar-height);
    display: flex;
    align-items: center;
}

.navbar-ul {
    z-index: 1;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 1rem;



}

.navbar-ul img {
    z-index: 1;
    width: 7.5vw;
    height: auto;
    border-radius: 50%;
}

.navbar-ul li {
    display: inline;
    /* text-align: center; */
}

.navbar-ul a {
    z-index: 1;
    text-decoration: none;
    color: var(--white);
    font-family: 'Play', sans-serif;
    /* border: 1px solid black; */


}

.navbar-ul a:hover {
    background-color: var(--white);
    color: var(--black);
    border-radius: 1rem;
    padding: 0.4rem;
}

.navbar-a {
    font-size: var(--navbar-a-fontsize);
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}




.navbar_userinfo {
    width: 50vw;
    height: var(--navbar-height);
    /* border: 2px solid mediumaquamarine; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    flex-direction: row;
    /* position: fixed; */
}

.navbar-ul-right {
    display: flex;
    flex-direction: row;
    position: fixed;
}

.navbar-ul-right li {
    display: flex;
    width: 8vw;
    height: var(--navbar-height);
    /* border: 2px solid mediumseagreen; */
    align-items: center;
    /* justify-self: unset; */
    justify-content: center;

}





.navbar_userinfo img {
    width: 2.5vw;
    height: auto;
    /* background: none; */


}

/* 
font-family: 'Black Ops One', system-ui;
font-family: 'Genos', sans-serif;
font-family: 'MuseoModerno', sans-serif; */




/* navigation->navbarContent */
.navbarContent {
    /* flex: 0.70; */
    width: var(--navbarcontent-width);
    height: var(--navbarcontent-height);
    /* border: 5px solid greenyellow; */
    /* text-align: left; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

}

.navbarContent h1 {
    /* text-align:left; */
    padding-top: 8vh;
    font-weight: bolder;
    /* font-family: 'Black Ops One', system-ui; */
    /* font-family: 'Genos', sans-serif; */
    font-family: 'MuseoModerno', sans-serif;

    color: var(--white);
    /* font-style: italic; */
    /* font-family: 'Ubuntu', sans-serif; */

    font-size: 7rem;
}

.welcome-para {
    font-family: 'Play', sans-serif;
    font-size: var(--welcome-para-fontsize);
    color: var(--white);
    z-index: +5;
    /* font-weight: bold; */
}



/* orderfood */
.orderfood {
    width: var(--orderfood-width);
    height: var(--orderfood-height);
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    flex-shrink: 1;
    /* align-items: center; */
    justify-content: center;
}

.orderfood_contents {
    width: var(--orderfood-contents-width);
    height: var(--orderfood-contents-height);
    border: 1px solid var(--light-grey);
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    cursor: pointer;
}

.orderfood_contents_1 {
    width: var(--orderfood-contents-1-width);
    height: var(--orderfood-contents-1-height);
    /* border-radius: 10%; */
}

.orderfood_contents_1::before {
    content: "";

    background-image: url(orderfood-contents1img1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /* background-size: var(--orderfood-contents-1-width), var(--orderfood-contents-1-height); */
    width: var(--orderfood-contents-1-width);
    height: var(--orderfood-contents-1-height);
    position: absolute;
    z-index: -1;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;

}

#oc12::before {
    background-image: url(orderfood_contents1img78.jpg);
}

#oc13::before {
    background-image: url(orderfood_contents1img3.jpg);
}

.orderfood_contents_2 {
    width: var(--orderfood-contents-2-width);
    height: var(--orderfood-contents-2-height);
    /* border: 2px solid green; */
    /* background-color: var(--grey); */
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.order_heading {
    font-size: 2vw;
    text-align: center;
    font-family: 'Source Code Pro', monospace;

    @media (0<width<=600px) {
        font-size: 3vw;
        /* padding: 0.8rem; */
    }
}

.order_para {
    font-size: 1.2vw;
    text-align: center;
    font-family: 'Play', sans-serif;

    @media (0< width <=500px) {
        /* visibility: hidden; */
        display: none;
    }
}











/* services */
.services {
    /* border: 2px solid palevioletred; */
    width: var(--services-width);
    height: var(--services-height);
    display: flex;
    flex-direction: column;

}

/* services->ourservices */

.ourservices {
    width: var(--ourservices-width);
    height: var(--ourservices-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* services->services-contents */
.services-contents {
    width: var(--services-contents-width);
    height: var(--services-contents-height);
    /* border: 3px solid green; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}

.services-contents-gridflex {
    width: var(--services-contents-gridflex-width);
    height: var(--services-contents-gridflex-height);
    border: 1px solid var(--light-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* border-top-right-radius:10% ;
    border-bottom-left-radius: 10%; */
    /* border-radius: 10%; */
    border-radius: 5ch;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    flex-wrap: wrap;
}

.services-contents-gridflex a {
    text-decoration: none;
}


.services-contents-gridflex-1::before {
    content: "";

    background-image: url(pexels-valeria-boltneva-1639557.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-clip: padding-box;
    background-origin: content-box;
    /* background-size: var(--services-contents-gridflex-1-img-width), var(--services-contents-gridflex-1-img-height); */
    background-size: cover;
    /* background-size: var(--services-contents-gridflex-1-img-width),auto; */
    width: var(--services-contents-gridflex-1-img-width);
    height: var(--services-contents-gridflex-1-img-height);
    position: absolute;
    /* border-radius: 10%; */
    z-index: -2;
    border-top-left-radius: 5ch;
    border-top-right-radius: 5ch;
    /* opacity: 0.7; */



}

.services-contents-gridflex-1 {
    /* border: 2px solid magenta; */
    width: var(--services-contents-gridflex-1-width);
    height: var(--services-contents-gridflex-1-height);


}

.services-contents-gridflex-2 {
    /* border: 2px solid white; */
    width: var(--services-contents-gridflex-2-width);
    height: var(--services-contents-gridflex-2-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-contents-gridflex-2::before {
    content: "";
    background-color: var(--white);

    position: absolute;
    z-index: -3;
    opacity: 1;
    width: var(--services-contents-gridflex-2-width);
    height: var(--services-contents-gridflex-2-height);


    border-bottom-right-radius: 5ch;
    border-bottom-left-radius: 5ch;

}



#scg2::before {
    background-image: url(top-view-fresh-delicious-chinese-food-dark-background.jpg);
}

#scg3::before {
    background-image: url(top-view-chinese-hot-pot.jpg);
}

#scg4::before {
    background-image: url(top-view-fresh-delicious-chinese-food-dark-background\ \(1\).jpg);
}

#scg5::before {
    background-image: url(crispy-mixed-pizza-with-olives-sausage.jpg);
}

#scg6::before {
    background-image: url(pizza.jpg);
}

#scg7::before {
    background-image: url(indian-food-by-sat-bhatti-1-1329903.jpg);
}

#scg8::before {
    background-image: url(indian-food-by-sat-bhatti-prt-1329468.jpg);
}

#scg9::before {
    background-image: url(tuna-sandwich-1326358.jpg);
}

#scg10::before {
    background-image: url(ready-to-eat-1543393.jpg);
}

#scg11::before {
    background-image: url(samosa-1328834.jpg);
}

#scg12::before {
    background-image: url(food-1323110.jpg);
}
#scg13::before {
    background-image: url(cakes-1572362.jpg);
}
#scg14::before {
    background-image: url(indian-food-by-sat-bhatti-5-1329861.jpg);
}
#scg15::before {
    background-image: url(healthy-food-1328279.jpg);
}



/* community */
.community {
    width: var(--community-width);
    height: var(--community-height);
    /* background-color: var(--black); */
    /* color: var(--white); */
    display: flex;
    flex-direction: column;

}

.comm_heading {
    font-size: var(--comm-heading-fontsize);
    font-family: 'Source Code Pro', monospace;

}

.partof_community {
    width: var(--partof-community-width);
    height: var(--partof-community-height);
    /* border: 2px solid magenta; */
    display: flex;
    align-items: center;
    justify-content: center;


}

.community_deals {
    width: var(--community-deals-width);
    height: var(--community-deals-height);
    display: flex;
    flex-direction: row;



}

.comm_dealbox {
    width: var(--comm-dealbox-width);
    height: var(--comm-dealbox-height);

    /* border: 2px solid magenta; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.comm_dealbox_img {
    width: var(--comm-dealbox-img-width);
    /* height: var(--comm-dealbox-img-height); */
    border-radius: 10%;
}















/* contacts */
.contact {
    /* border: 2px solid white; */
    width: var(--contact-width);
    height: var(--contact-height);
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    /* overflow: hidden; */
    display: none;

}

.contact::before {
    content: "";
    background-image: url(contact.jpg);
    background-repeat: no-repeat;
    background-size: var(--contact-width), var(--contact-height);
    background-position: center;
    position: absolute;
    width: var(--contact-width);
    height: var(--contact-height);
    z-index: -1;
    /* opacity: 0.5; */
    /* border-radius: 10%; */
}


.contact-us {
    width: var(--contact-us-width);
    height: var(--contact-us-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: var(--contact-form-width);
    height: var(--contact-form-height);
    display: flex;
    /* align-items: center; */
    justify-content: center;

    border-top: 5px solid var(--black);
    /* box-sizing: border-box; */


}

/* contact->div.contact-us + div.form->form->div.formgroup */
.formgroup {
    font-size: var(--contact-form-fontsize);
    margin: 0.7rem;
}

.form input {
    font-size: var(--contact-form-input-fontsize);
    padding-left: 0.5rem;
    opacity: 0.8;
}

.btn {
    font-size: var(--contact-form-input-fontsize);
    background-color: var(--black);
    color: var(--white);
    padding: 0.5rem;
    border: 2px solid var(--white);
    margin-top: 1rem;
}

.btn:hover {
    opacity: 0.5;
}

.form-span {
    font-family: 'Play', sans-serif;
}

/* ourpartners */
.ourpartners {
    /* border: 2px solid aquamarine; */
    width: var(--ourpartners-width);
    height: var(--ourpartners-height);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    

}

.ourpartners::before {
    content: "";
    background-image: url(Bg1.jpg);
    background-repeat: no-repeat;
    background-size: var(--ourpartners-width), var(--ourpartners-height);
    background-position: center;
    position: absolute;
    width: var(--ourpartners-width);
    height: var(--ourpartners-height);
    z-index: -5;
    opacity: 0.4;
    /* border-radius: 10%; */
}

.ourpartners-clients-img img {
    width: auto;
    height: 10vh;
    /* margin: margin-y , margin-x */


}




/* footers */
.footers {
    /* border: 2px solid rgb(198, 11, 255); */
    width: var(--footers-width);
    height: var(--footers-height);
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-family: 'Play', sans-serif; */
    background-color: rgb(233, 231, 231);
   color: black;

}

.footer_1 {
    width: var(--footer-1-width);
    height: var(--footer-1-height);
    /* border: 2px solid mediumseagreen; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.footer_1 h4 {
    font-family: 'MuseoModerno', sans-serif;

    z-index: 5;
    font-size: 3.5vw;
    /* color: var(--white); */
}

.footer_2 {
    width: var(--footer-1-width);
    height: var(--footer-2-height);
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;


}

.footer_2_1{
    width: 20vw;
    height: var(--footer-2-height);
    /* border: 1px dotted brown; */
    padding-left: 1rem;
    cursor: pointer;
    
}
.footer_2_1 h5{
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2vw;
}
.footer_2_1 span{
    display: block;
    font-family: 'Play', sans-serif;
    font-size: 1vw;

}

.footer_2_1 img{
    width: 2.2vw;
    height: auto;
    display: inline;
    margin-top: 1vh;
}

.footer_3 {
    width: var(--footer-1-width);
    height: var(--footer-3-height);
    border-top: 1px solid grey;
    align-items: center;
    text-align: center;
    font-size: 1.05vw;
}
.footer_3_2{
    display: none;
}


/* gap-bar */
.gap {
    width: var(--gap-width);
    height: var(--gap-height);
    /* border: 2px solid orchid; */
}


/* important styles */



/* Styles for the login container */
.login-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding: 20px; */
    border: 1px solid #ccc;
    background-color: white;
    z-index: 1000;
    color: black;
    width: 30vw;
    height: 52vh;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-family: 'Play', sans-serif;


}

.login_container_1 {
    width: 30vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
}

.login1 {
    width: 26vw;
    align-items: center;
    height: 5vh;
}

.login1 span {
    padding-left: 0.4vw;
    /* padding-top: 2vh; */
    /* align-items: center; */
}

.login2 {
    width: 4vw;
    height: 5vh;
    /* border: 2px solid maroon; */
    display: flex;
    align-items: center;
    justify-items: center;
    cursor: pointer;
}

.login2 span {
    padding-left: 3.5vh;
    font-size: 1.5rem;
}

.login-form {
    text-align: center;
    width: 30vw;
    height: 32vh;
    /* border: 2px solid magenta; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.form_content2 {
    width: 20vw;
    height: 5vh;
    margin: 0.4rem;
    border: 1px solid var(--light-grey);
    /* border-radius: 5px; */
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

    padding: 0.3rem;
    font-size: 1.2rem;
}

#sendEmail {
    width: 5vw;
    height: 6.2vh;
    background-color: rgb(255, 119, 0);
    color: black;
    font-size: 1.2rem;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0.4;


}

#timer {
    font-size: 24px;
    text-align: center;
    margin: 20px;
}

.input_2 {
    width: 40px;
    border: none;
    border: 1px solid var(--grey);
    border-radius: 5px;
    margin: 0 10px;
    text-align: center;
    font-size: 36px;
    cursor: not-allowed;
    pointer-events: none;
}

.input_2:focus {
    border: 3px solid orange;
    outline: none;
}

.input_2:nth-child(1) {
    cursor: pointer;
    pointer-events: all;
}

#login_button {
    opacity: 1;
}

.login_container_3 {
    width: 30vw;
    height: 15vh;
    /* border: 2px solid mediumslateblue; */
    display: flex;
    flex-direction: column;
}

.login_container_3_1 {
    width: 30vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
}

.lc311 {
    width: 14vw;
    height: 5vh;
    border-top: 2px solid var(--light-grey);
    margin-top: 2vh;
}

.lc312 {
    width: 2vw;
    height: 5vh;
    padding-left: 5px;
}

.lc313 {
    width: 14vw;
    height: 5vh;
    border-top: 2px solid var(--light-grey);
    margin-top: 2vh;
}

.login_container_3_2 {
    width: 30vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_container_3 img {
    width: 2vw;
    height: auto;
}

.button-google {
    border: 2px solid black;
    width: 20vw;
    height: 7vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-google span {
    padding-left: 1.5vw;
}


/* register container */
.Register-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
    width: 30vw;

    /* border: 2px solid magenta; */
    background-color: var(--white);
    color: var(--black);
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.register_container_heading {
    /* border: 3px solid greenyellow; */
    width: 30vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
}

.register_container_heading_maincontent {
    width: 25vw;
    height: 10vh;
    /* border: 2px solid salmon; */
    text-align: center;
}

.register_container_heading_maincontent h2 {
    font-size: 2.5rem;
    padding-top: 1rem;
}

.register_container_heading_close {
    width: 5vw;
    height: 10vh;
    /* border: 2px solid moccasin; */
    font-family: 'Source Code Pro', monospace;
    cursor: pointer;
    background-color: rgb(249, 15, 15);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-form {
    /* border: 2px solid white; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    height: 35vh;
    width: 30vw;
    /* flex-direction: column; */

    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_content {
    width: 28vw;
    height: 5vh;
    margin: 0.4rem;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    padding: 0.3rem;
    font-size: 1.2rem;
}

.register_container_footer {
    /* border: 2px solid maroon; */
    width: 30vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
}

.register_container_footer_maincontent {
    width: 30vw;
    height: 8vh;
    text-align: center;
    margin-top: 1vh;
}

.allsubmit {
    background-color: rgb(16, 253, 4);
    color: rgb(7, 7, 7);
    border: none;
    border-radius: 5px;
    height: 5vh;
    width: 20vw;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.1rem;
    cursor: pointer;
    opacity: 0.5;
}

.register_container_footer_login {
    width: 30vw;
    height: 7vh;
    /* border: 2px solid rgb(16, 6, 16); */
    padding-top: 1.5vh;
    text-align: center;
    font-size: 1.2rem;
}

/* Styles for the overlay background */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}



/* Style for the close button */
.close-button {
    cursor: pointer;
    font-weight: bold;
    color: #060606;
}



#RegisterContainerID {
    display: none;
}

#loginContainer {
    display: none;
}

#otpverify_registerID {
    display: none;
}

.otpverify_register {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 50vh;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    color: black;
    font-family: 'Play', sans-serif;


}

.otp_1 {
    text-align: center;
    width: 30vw;
    height: 25vh;
}

.otp_1 img {
    height: 15vh;
    width: auto;
    margin-top: 5vh;
}





/* otp input field */
.otp_container_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 10vh;
    /* min-height: 100vh; */
}

.input {
    width: 40px;
    border: none;
    border-bottom: 3px solid black;
    margin: 0 10px;
    text-align: center;
    font-size: 36px;
    cursor: not-allowed;
    pointer-events: none;
}

.input:focus {
    border-bottom: 3px solid orange;
    outline: none;
}

.input:nth-child(1) {
    cursor: pointer;
    pointer-events: all;
}


/* verify button */
.verify_otp_box_3 {
    width: 30vw;
    height: 15vh;
    /* border: 2px solid magenta; */
    text-align: center;
}

#verify_otp_button {
    background-color: rgb(255, 132, 0);
    color: black;

    opacity: 1;
    margin-top: 2vh;
}

#closeRegister_bttn {
    /* margin-left: 5vw; */
    padding-left: 8vw;
    font-size: 1.2rem;
    cursor: pointer;
}








/* loggedinUser credentials */

#searchbox{
    height: 6vh;
    width: 25vw;
    background-color: white;
    color: #000;
    font-size: 2.5vw;
    /* font-family: 'MuseoModerno', sans-serif; */
    display: inline-block;
    border: none;
    box-sizing: inherit;

}

#target{
    width: 1vw;
    height: auto;
    z-index: 5;
    box-sizing: inherit;
}

.getlocation_span2{
    background-color: white;
    height: 6vh;
    width: 10vw;
    z-index: 1;
    /* display: inline; */
    box-sizing: inherit;
}
