body{
    @media (0<= width <=200px)  {
        
        background-color: red;
    }
    @media (200px< width <=500px) {
        background-color: white;
    }
    @media (500px<width<=800px) {
        background-color: orange;
    }
    @media (800px< width <=1000px) {
        background-color: green;
    }
    
}
@media (600px< width <=1000px){
    .services{
        height: 250vh;
        width: 100vw;
    }
}
@media (0px< width <=600px){
    .services{
        height: 550vh;
        width: 100vw;
    }
}



.welcome-para{
    visibility: hidden;
}
.services-contents{
    @media (600px< width <=1000px) {
        display: grid;

            grid-template-columns: repeat(auto-fit );
            grid-template-columns: repeat(2,auto);

    }
    @media (0px< width <=600px) {
        display: grid;

            grid-template-columns: repeat(auto-fit );
            grid-template-columns: repeat(1,auto);
    }
    display: flex;
    /* flex-flow: column; */
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
    
}
.services-contents-gridflex::before{
    /* visibility: hidden; */
}